@{
    ViewBag.Title = "后台管理页面";
    Layout = "~/Areas/Web/Views/Shared/WebAdmin_Layout.cshtml";
}
@section MySection{
    <link href="~/Areas/Web/Css/mangemantIndex.css" rel="stylesheet" />
}

@section MySection3{
    <script src="~/Content/Plugs/Ueditor/ueditor.config.js"></script>
    <script src="~/Content/Plugs/Ueditor/ueditor.all.js"></script>
    <script src="~/Content/Plugs/Ueditor/ueditor.parse.js"></script>
    <script src="~/Areas/Web/Scripts/mangemantIndex.js"></script>
}
@section MySection1{
    <ul>
        <li><div class="double"></div><a href="#">添加新文章</a></li>
    </ul>
}
@section MySection2{
    <ul>
        <li><div class="double"></div><a href="#">所有分类</a></li>
        <li><div class="double"></div><a href="#">添加分类</a></li>
        <li><div class="double"></div><a href="#">编辑分类</a></li>
    </ul>
}
<div class="add">
    <p>添加文章</p>
</div>
<div class="article-title">
    <label>标题</label>
    <input id="input-title" type="text" />
</div>
<div class="text-plug">
    <script id="container" name="content" type="text/plain">
        这里写你的文章内容
    </script>
</div>
<div class="article-classification">

    <label>标签:</label>
    <label><input name="Fruit" type="radio" value="1" checked="checked" />苹果 </label>
</div>
<div class="advanced-setting">
    <label>是否发布</label>
    <input id="checkbox-1" type="checkbox" checked="checked" />
    <label>是否可评论</label>
    <input id="checkbox-2" type="checkbox" checked="checked" />
</div>

<div class="release">
    <input id="submit" type="button" value="发布">
    <input id="cancel" type="button" value="取消">
</div>





