@{
    ViewBag.Title = "文章";
    Layout = "~/Areas/Web/Views/Shared/Home_Layout.cshtml";
}
@section MySection{
    <link href="~/Areas/Web/Css/article.css" rel="stylesheet" />
}
@section MySection1{
    <script src="~/Areas/Web/Scripts/article.js"></script>
}
<div class="article-title">
    <h2>我的文章标题</h2>
</div>
<div class="article-text">
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
<p>1111111111111111</p>
</div>
<div class="bolg-message">
    <div class="head-pic">
        <img src="~/Imgs/HeadPic/headpic-1.jpg" />
        <div class="author">
            <span class="name">薄荷少年</span>
            <span class="fans">
                <label>粉丝:1</label>
            </span>
        </div>
    </div>
    <div class="bolg-block">
        <p>posted*2018-01-11 14:47 薄荷灬少年 阅读(1) 评论(0) 编辑 收藏</p>
    </div>
</div>