@{
    ViewBag.Title = "主页";
    Layout = "~/Areas/Web/Views/Shared/Home_Layout.cshtml";
}
@section MySection{
    <link href="~/Areas/Web/Css/home.css" rel="stylesheet" />
}
@section MySection1{
    <script src="~/Areas/Web/Scripts/home.js"></script>
}
<div class="article_content">
    <ul class="article-list">
        <li>
            <div class="blog-a">
                <div class="recommend">
                    <span>111</span>
                </div>
                <div class="title">
                    <h2>文章标题</h2>
                </div>
            </div>
            <div class="summary">
                <p>摘要：五禽戏是我国古代体育锻炼的一种方法，创始人是东汉末年名医华佗。华佗总结了前人模仿鸟兽动作以锻炼身体的传统做法，创编了一套保健体操，包括虎、鹿、熊、猿、鸟的动作和姿态，也就是五禽戏。 《三国志·华佗传》记载：“吾有一术，名五禽之戏，一曰虎，二曰鹿，三曰熊，四曰猿，五曰鸟。亦以除疾，兼利蹄足，以当导引。</p>
                <span><a href="#">阅读全文</a></span>
            </div>
            <div class="bolg-block">
                <p>posted*2018-01-11 14:47 薄荷灬少年 阅读(1) 评论(0) 编辑</p>
            </div>
        </li>
    </ul>
</div>
