@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/EasyUi/css/icon.css" rel="stylesheet" />
    <link href="~/Content/EasyUi/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Css/admin-forget.css" rel="stylesheet" />
    <title>忘记密码</title>
</head>
<body>
    <div class="ck-container">
        <div class="ck-title">
            <h1>博客管理系统</h1>
        </div>
        <div class="block">
        </div>
        <div class="easyui-panel" title="找回密码" style="width:350px;">
            <form id="ff" method="post" class="Find-form">
                <table cellpadding="5" class="ck-table">
                    <tr>
                        <td class="ck-td">
                            <label for="name">用户名:</label>
                            <input id="name" class="easyui-validatebox ck-input" type="text" name="name" data-options="required:true,validType:'UserStr'" />
                        </td>
                    </tr>
                     <tr>
                        <td class="ck-td">
                            <label for="code" id="code">验证码:</label>
                            <input id="verifyCode" class="easyui-validatebox ck-input" type="text" name="icode" data-options="required:true,validType:'Length[4]',delay:300" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-middle">
                            <img id="ck-imgcode1" class="VerCode" src=" " />
                            <a class="easyui-linkbutton ck-button" onclick="restpic()">看不清？换一张</a>
                        </td>
                    </tr>
                </table>
                <div id="ck-submit-1" class="ck-submit" style="text-align:left;padding:5px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">重置密码</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                </div>
            </form>
            <form id="dd" method="post" class="Check-form">
                <table cellpadding="5" class="ck-table">
                    <tr>
                        <td class="ck-td">
                            <label for="email">密码:</label>
                            <input id="password" class="easyui-validatebox ck-input" type="password" name="password" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-td">
                            <label for="name">再次输入密码:</label>
                            <input id="passwordCheck" class="easyui-validatebox ck-input" type="password" name="checkpassword" data-options="required:true" />
                        </td>
                    </tr>
                </table>
                <div id="ck-submit-2" class="ck-submit" style="text-align:left;padding:5px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submit()">重置密码</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clear()">清除</a>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Content/EasyUi/jquery.min.js"></script>
    <script src="~/Content/EasyUi/jquery.easyui.min.js"></script>
    <script src="~/Content/EasyUi/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Areas/Admin/Scripts/admin-Login.js"></script>
    <script src="~/Areas/Admin/Scripts/admin-forget.js"></script>
    <script src="~/Scripts/utils.js"></script>
</body>
</html>

