@{
    ViewBag.Title = "相册";
    Layout = "~/Areas/Web/Views/Shared/WebAdmin_Layout.cshtml";
}
@section MySection{
    <link href="~/Areas/Web/Css/Ablum/ablum.css" rel="stylesheet" />
}
@section MySection3{
    <script src="~/Areas/Web/Scripts/Ablum/ablum.js"></script>
}
@section MySection1{
    <ul>
        <li><div class="double"></div><a href="#">添加新图片</a></li>
    </ul>
}
@section MySection2{
    <ul>
        <li><div class="double"></div><a href="#">所有分类</a></li>
        <li><div class="double"></div><a href="#">添加分类</a></li>
        <li><div class="double"></div><a href="#">编辑分类</a></li>
    </ul>
}
<div class="add">
    <p>添加新图片</p>
</div>

<div class="插件">

</div>

<div class="release">
    <input id="submit" type="button" value="发布">
    <input id="cancel" type="button" value="取消">
</div>





