<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/EasyUi/css/icon.css" rel="stylesheet" />
    <link href="~/Content/EasyUi/themes/default/easyui.css" rel="stylesheet" />
     <style>
        .container{
            text-align:center;
        }
        #blank{
            height: 30px;
            width: 100%;
        }
    </style>
    @RenderSection("MySection", required: false)
</head>
<body>
    <div class="container">
        <div id="blank"></div>
        @RenderBody()
    </div>
    <script src="~/Content/EasyUi/jquery.min.js"></script>
    <script src="~/Content/EasyUi/jquery.easyui.min.js"></script>
    <script src="~/Content/EasyUi/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Areas/Admin/Scripts/admin-sonlayout.js"></script>
    @*<script src="~/Scripts/utils.js"></script>*@
    @RenderSection("MySection1", required: false)
</body>
</html>
